@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00b8b8;
}

.container{
    position: relative;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.container header{
    font-size: 22px;
    font-weight: 600;
    color: #333;

}

.container form{
    margin-top: 30px;
}

form .field{
    margin-bottom: 20px;

}

form .input-field{
    position: relative;
    height: 55px;
    width: 100%;
    /* background-color: red; */
}

.input-field input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}

.invalid input{
    border-color: #d93025;
}

.input-field .show-hide{
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

.field .error{
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}

.invalid .error{
    display: flex;
}

.error .error-icon{
    margin-right: 6px;
    font-size: 15px;

}

.create-password .error{
    align-items: flex-start;
}

.create-password .error-icon{
    margin-top: 4px;
}

.button{
    margin: 25px 0 6px;

}

.button input{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background-color: #00b8b8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #008b8b;
}








@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
body{
  background-color: #00b8b8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container{
  width: 450px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.header{
  background-color: lightgray;
  color: #00b8b8;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
}
.form{
  padding: 20px 40px;
}
.form-control{
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  text-transform: none;
  border: 2px solid #00b8b8;
}
.form-control small{
  position: absolute;
  margin: 3px;
  visibility: hidden;
}
button{
  background-color: #00b8b8;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #00b8b8;
  cursor: pointer;
}