@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
body{
  background-color: #00b8b8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container{
  width: 450px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.header{
  background-color: lightgray;
  color: #00b8b8;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
}
.form{
  padding: 20px 40px;
}
.form-control{
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  text-transform: none;
  border: 2px solid #00b8b8;
}
.form-control small{
  position: absolute;
  margin: 3px;
  visibility: hidden;
}
button{
  background-color: #00b8b8;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #00b8b8;
  cursor: pointer;
}
