@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root{
    --blue: #00b8b8;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border: .2rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  }
  
  body{
    height: 8vh;
   
  }

  
header h1{
  color: var(--blue);
  margin-top: 40px;
  font-size: 3.5rem;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}

  
  .gallery h2{
    font-size: 2rem;
    color: var(--black);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2.5rem;
  }

  .gallery p{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-bottom: 1.4rem;
  }

  .btn{
    color: var(--white);
    background-color: var(--blue);
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: none;
  }

  .btn:hover{
    color: var(--blue);
    background-color: var(--white);
  }


  .gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border: 1rem solid var(--white);
    border-radius: .5rem;
    flex: 1 1 22.3rem;
    height: 17rem;
    position: relative;
  }
  
  .gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .gallery .box-container .box .current{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    padding: 2rem;
  }
  
  .gallery .box-container .box:hover .current{
    top: 0;
  }
  
  .gallery .box-container .box .current h3{
    font-size: 2.2rem;
    color: var(--blue);
    font-weight: bold;
   
    
  }
  
  .gallery .box-container .box .current p{
    color: var(--white);
    font-size: 1.4rem;
    
  } 

  .gallery .box-container .box .current h4{
    font-size: 1.2rem;
    color: var(--blue);
  }
  

  .button{
    background-color: #00b8b8;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 35rem;
    margin-left: 4rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
  }

  .button:hover{
    color: var(--white);
    background-color: var(--blue);
  }
  
 #footer{
  background-color: var(--blue);
 }
#footer #timer{
  align-items: center;
  text-align: center;
  color: var(--white);
  display: block;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
  
}
#footer .container{
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 2.5rem;
}



@media (max-width: 600px) {
  html {
    font-size: 60%;
  }
}